// Memory usage

#wpmm-memory-meter-memory-usage {
	display: none !important;
}

.wpmm-memory-meter-memory-usage-color-bad {
	background-color: #dc3232 !important;
	color: #ffffff !important;
	> .ab-item {
		&:first-of-type {
			background-color: #dc3232 !important;
			color: #ffffff !important;
		}
	}
}

.wpmm-memory-meter-memory-usage-color-warning {
	background-color: #f56e28 !important;
	color: #ffffff !important;
	> .ab-item {
		&:first-of-type {
			background-color: #f56e28 !important;
			color: #ffffff !important;
		}
	}
}

.wpmm-memory-meter-memory-usage-color-okay {
	background-color: #46b450 !important;
	color: #ffffff !important;
	> .ab-item {
		&:first-of-type {
			background-color: #46b450 !important;
			color: #ffffff !important;
		}
	}
}

.wpmm-memory-meter-memory-usage-color-key {
	padding: 2px 5px;
	border-radius: 20px;
}

.wpmm-memory-meter-memory-usage-dot {
	display: inline-block;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	margin-right: 5px;
}